/*Global Styles*/
body {
    font-family: Montserrat,sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

/*element style*/

section {
    margin: 0px;
    padding: 0px;
}

/*hero banner image*/
#HeroBanner {
  background-image: url("https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-position: center;
  height: 90vh;

}

.name-title {
    color: #fd4766;
    }
  
  .name-title::before {
    content:"";
    animation-duration: 10s;
    animation-name: change;
    animation-iteration-count: infinite;    
  }

  @keyframes change {
    0% {opacity:0; content:"EDMUND DEL ROSARIO"}
    15% {opacity:1; content:"EDMUND DEL ROSARIO"}
    30% {opacity:0; content:"EDMUND DEL ROSARIO"}
    31% {opacity:0; content:"A UI/UX DESIGNER"}
    45% {opacity:1; content:"A UI/UX DESIGNER"}
    70% {Opacity:0; content:"A UI/UX DESIGNER"}
    71% {opacity:0; content:"A WEB DEVELOPER"}
    85% {Opacity:1; content:"A WEB DEVELOPER"}
    100% {Opacity:0; content:"A WEB DEVELOPER"}
  }




  
  